html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overscroll-behavior: contain;
}

#app {
  width: 100%;
  height: 500%;
  display: flex;
  justify-content: center;
  position: sticky;
}

canvas {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#container {
  display: block;
  width: 100%;
  height: 20%;
  z-index: 1;
  position: relative;
}

#scroll {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  cursor: pointer;
  z-index: 1;
  color: #fff;
}

#fps {
  position: fixed;
  top: 0;
  left: 1rem;
  user-select: none;
}

#control {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

#control div {
  display: flex;
  justify-content: space-between;
}
